<h4>listado</h4>

<ul class="list-group " >
    <li class="list-group-item d-flex justify-content-between" *ngFor="let char of characters; let i = index; let isFirst = first; let islast=last; let isOdd=odd " 
    [ngClass]="{'list-group-item-primary':isFirst,  'list-group-item-success':islast,'list-group-item-secondary':isOdd}">
        
    <div>
        <span class="text-primary">{{i+1}}</span>
        <span>{{char.name}}</span> - 
        <strong>Power:</strong>  
        <span>{{char.power}}</span>
    </div> 
    <button class="btn btn-danger"
    (click)="emitCharacterId(char.id)">X</button>  
    </li>
       
</ul>
